body {background-color:#303242;}
p {color: #F2BE8D;}
b {color: #BA6C65;}
li {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h2 {color: #6278a7;}
td {font-size: 15px;}
td {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
big {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.hamza {background-color: #BA6C65;}
#turşu {color: bisque}